<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>iui-charts</title>
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.13/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    <script src="lib/dist/iui-charts.js"></script>
    <script src="demo/demo.js"></script>
    <link rel="stylesheet" href="lib/dist/iui-charts.css">
    <link rel="stylesheet" href="demo/demo.css">
	</head>
	<body ng-app="app" ng-controller="ExampleController as chartController">
		<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 form-group">
          <div class="input-group">
            <label class="input-group-addon" for="date_from">From</label>
            <input
              id="date_from"
              class="form-control"
              type="date"
              ng-change="chartController.changeDateForm(chartController.dateRangeForm)"
              ng-model="chartController.dateRangeForm.from"
              placeholder="from">
          </div>          
        </div>
        <div class="col-sm-3 form-group">
          <div class="input-group">
            <label class="input-group-addon" for="date_to">To</label>
            <input
              id="date_to"
              class="form-control"
              type="date"
              ng-change="chartController.changeDateForm(chartController.dateRangeForm)"
              ng-model="chartController.dateRangeForm.to"
              placeholder="to">
          </div>
        </div>
        <div class="col-md-5 form-group">
          <button class="btn btn-default" ng-click="chartController.resetData()">Reset Data</button>
          <button class="btn btn-default" ng-click="chartController.changeData()">Change Data</button>
          <button class="btn btn-default" ng-click="chartController.healthInformation.data.splice(0,1)">Delete Entries</button>
        </div>
      </div>
			<iui-chart 
        date-range="chartController.dateRange"
        chart-settings="chartController.healthInformation.settings"
        display-fields="chartController.healthInformation.displayFields"
        chart-data="chartController.healthInformation.data">
      </iui-chart>
      <div class="form-group text-center">
        <div class="btn-group">
          <button
            class="btn btn-default"
            ng-click="chartController.showAll()">
            All
          </button>
          <button
            class="btn btn-default"
            ng-click="chartController.changeDate(5, 'years')">
            5y
          </button>
          <button
            class="btn btn-default"
            ng-click="chartController.changeDate(1, 'years')">
            1y
          </button>
          <button
            class="btn btn-default"
            ng-click="chartController.changeDate(6, 'months')">
            6m
          </button>
          <button
            class="btn btn-default"
            ng-click="chartController.changeDate(3, 'months')">
            3m
          </button>
          <button
            class="btn btn-default"
            ng-click="chartController.changeDate(1, 'months')">
            1m
          </button>
        </div>
      </div>

    </div>
	</body>
</html>
